# Foodstore Store (SvelteKit) Environment Variables
PUBLIC_API_URL=http://localhost:5142/v2
PUBLIC_AUTH_STORAGE_PREFIX=foodstore_
PUBLIC_SIGNALR_HUB=/hubs/app
PUBLIC_SIGNALR_WS_ONLY=true
PUBLIC_VIETQR_API_URL=https://api.vietqr.io/v2/banks
PUBLIC_DEFAULT_QR_TEMPLATE=compact2
PUBLIC_SITE_DOMAIN=foodstore
PUBLIC_DEFAULT_CUSTOMER_PASSWORD=Customer@123
