# .NET
bin/
obj/
*.user
*.suo
*.vs/
*.DotSettings
*.nupkg
**/appsettings.Development.json

# Node
node_modules/


# Build
dist/
build/
.vite/
.svelte-kit/
.next/

# IDE
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Logs
*.log
config.bat
